.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }

.navbar {
  min-height: 80px;
}
/* */
.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}
/* */
.jumbotron {
  text-align: center;
  background: none;
}

.sectionLight {
  background-color: #eceeef;
  padding: 2rem;
}

.sectionDark {
  background-color: #cccccc;
  padding: 2rem;
}

.hikingWrapper,
.volunteeringWrapper, 
.workingWrapper{
  margin-top: 20px;
}


button.hikingBtn,
button.volunteeringBtn,
button.workingBtn{
  background-color: red;
  color: #ffffff;
  display: block;
  margin: auto;
}


h5.modal-title {
  margin: auto;
}

.modalFormWrapper {
  padding: 2rem;
}

.imgCenter {
  display: block;
  margin: auto;
}

.btnCenter {
  display: block;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
  width: 54%;
    
}

.footerImg {
  padding: 15px;
}

.fa {
  margin: 10px;
}

.fa-linkedin-square {
  color: #0E76A8;
}

.fa-facebook-square {
  color: #3b5998;
}

.fa-google-plus-square {
  color: #c32f10;
}

.fa-instagram {
  color: #ffffff;
}

.socialWrapper {
  margin: auto;
}

h1 {
    text-align: center;
}
h1 ul li{
    text-align: center;
}

df-messenger {
 --df-messenger-bot-message: #dbd9e4;
 --df-messenger-button-titlebar-color: #0066cc;
 --df-messenger-chat-background-color: #fafafa;
 --df-messenger-font-color: black;
 --df-messenger-send-icon: #878fac;
 --df-messenger-user-message: #cde9f4;
 --df-messenger-chip-border-color: #dbd9e4;
 --df-messenger-chip-background-color: #cde9f4;
 --df-messenger-chip-color: #cde9f4;
    
   
 --df-messenger-chip-font-color: white;
}


















